.container {
  padding: 5rem;
	max-width: 70rem;
	margin: auto;
  color: #445566;
}

.container hr {
	margin-top: 2.5rem;
}

.title {
	font-size: 2.7rem;
}

.wrapper {
	letter-spacing: 0.5px;
	line-height: 2;
	font-size: 1.1rem;
}


.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6 {
	font-weight: 500;
	margin: 1rem 0;
}

.wrapper ul,
.wrapper ol {
	padding-left: 3rem;
}

.wrapper hr {
	margin: 1rem 0;
}

.wrapper p {
	margin: 1.5rem 0;
}

.wrapper pre {
	background-color: #1D1F21;
	color: white;
	padding: 1rem;
	border-radius: 3px;
	overflow-x: auto;
}

.wrapper pre div {
	padding: 0 !important;
}

.wrapper blockquote {
	border-left: 5px solid #dadada;
	padding-left: 1rem;
	font-style: italic;
	background-color: rgb(238, 238, 238);
}

.wrapper table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper table th {
	font-weight: 500;
	text-align: start;
	padding: 0.5rem;
	border-bottom: 1px solid gray;
}

.wrapper table td {
	padding: 0.5rem;
}

.wrapper table tbody tr {
	border-bottom: 1px solid gray;
}

.wrapper table tbody tr:nth-child(odd) {
	background-color: #e6e6e6;
}

.wrapper img {
	display: block;
	width: 100%;
	padding: 2rem;
}

.wrapper a {
	color: var(--accent-color);
	text-decoration: underline;
}